fastapi
uvicorn
onnxruntime
flask
git+https://github.com/SKTBrain/KoBERT.git#egg=kobert_tokenizer&subdirectory=kobert_hf
# 필요 패키지 설치
mxnet
gluonnlp 
pandas 
tqdm
sentencepiece
transformers
torch
pandas
numpy==1.23.1